.maindiv{
    background-color: #30cfd0;
    height: 100vh;
    width: 0;
    transition: 0.7s;
}
ul{
    margin-top: 100px;
    list-style-type: none;
    text-align: center;
}
li{
    margin: 50px;
    font-size: 40px;
    color: white;
    display: none;
}
button{
    margin: 13px;
}